APP_PORT = 5000

#DEV ELASTIC#
ELASTIC_URL="https://192.168.62.90:9200"
ELASTIC_USER= "kibana_system"
ELASTIC_PASS= _________

#local
DB_HOST = localhost
DB_PORT = 5432
DB_USER = postgres
DB_PASSWORD = ________
DB_DATABASE = DB_DEVICE_MONIT

#Authentification Basic Auth
USERNAME_BASIC_AUTH = hisnutech
PASSWORD_BASIC_AUTH = nutech123
BASIC_AUTH_USERS=hisnutech:nutech123,dom:nutech456,admin:10102000,superadmin:tykobisamancing,dev:dev12345