APP_PORT = 4000

#DEV ELASTIC#
ELASTIC_URL="https://192.168.62.90:9200"
ELASTIC_USER= "elastic"
ELASTIC_PASS= "htvOCTKq2ZrxQO0FgQcI"

#local
DB_HOST = localhost
DB_PORT = 5432
DB_USER = postgres
DB_PASSWORD = 'DigitalAi@26'
DB_DATABASE = DB_DEVICE_MONIT

#Authentification Basic Auth
USERNAME_BASIC_AUTH = hisnutech
PASSWORD_BASIC_AUTH = nutech123
BASIC_AUTH_USERS=hisnutech:nutech123,dom:nutech456,admin:10102000,superadmin:tykobisamancing,dev:dev12345

#Signature Header
CLIENT_SECRET=4a845752d13cc90463e0a92b6ca0d066 #tykodanfembipergimemancing

#Token JWT
JWT_SECRET=294be6ae59b6e1e02b758263b8ec09bf #tykodanfembibekerjadinutech